/* Colors */
$color--text: #000000;
$color--primary: #1d9bf0;
$color--tweet-icons: #536471;
$color--lightgray: #cfd9de;
$color--background: ghostwhite;

/* Typography */
$font-family--text: 'Lato', sans-serif;

/* Breakpoints */
$breakpoint--small: 481px;
$breakpoint--medium: 769px;
$breakpoint--large: 1200px;

/* Borders */
$border--ultralight: 1px solid $color--lightgray;

/* Spacings */
$appbars--height: 52px;
$spacing--normal: 16px;
